framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    http_method_override: false
#    trusted_proxies: ''
#    trusted_headers: [ "x-forwarded-for", "x-forwarded-proto", "x-forwarded-port", "x-forwarded-host" ]

    session:
        handler_id: null
        cookie_secure: true
        cookie_httponly: true
        cookie_samesite: 'strict'

#    error_controller: AdnanMula\Cards\Infrastructure\Security\ErrorHandler

    #esi: true
    #fragments: true
    php_errors:
        log: true

    http_client:
      scoped_clients:
        dok.client:
          base_uri: 'https://decksofkeyforge.com'
          headers:
            Api-Key: '%env(DOK_API_TOKEN)%'
