framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    http_method_override: false
    trusted_proxies: [ '%env(TRUSTED_PROXIES)%' ]
    trusted_headers: [ "x-forwarded-for", "x-forwarded-proto", "x-forwarded-port", "x-forwarded-host" ]

    session:
        handler_id: null
        cookie_secure: true
        cookie_httponly: true
        cookie_samesite: 'strict'

    rate_limiter:
      global_limit:
        policy: sliding_window
        limit: 50
        interval: '1 minute'

#    error_controller: AdnanMula\Cards\Infrastructure\Security\ErrorHandler

    php_errors:
        log: true

    http_client:
      scoped_clients:
        dok.client:
          base_uri: 'https://decksofkeyforge.com'
          headers:
            Api-Key: '%env(DOK_API_TOKEN)%'
