# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=1afb856da5195dc873d635947d0a76cb
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

#Api
API_PORT=7009

#Postgres
ADMINER_PORT=7002
DATABASE_PORT=7001
DATABASE_PASSWORD=root
DATABASE_URL=pgsql://postgres:root@postgres/cards
DATABASE_URL_DEFAULT=pgsql://postgres:root@postgres/postgres

#Logs
ELASTIC_PORT=7003
ELASTIC_ADMIN_PASS=pass
ELASTIC_USER=user
ELASTIC_PASS=password
KIBANA_PORT=7004

#DecksOfKeyforge
DOK_API_TOKEN=
DOK_USER=
DOK_PASS=

#Cert
VIRTUAL_HOST=
LETSENCRYPT_HOST=
LETSENCRYPT_EMAIL=
