parameters:
    level: 5
    paths:
        -   src
        -   tests
    excludePaths:
        -   public/*
        -   src/Kernel.php
        -   config/bootstrap.php
    ignoreErrors:
        -
            message: '#Strict comparison using === between false and non-empty-list<array<string, mixed>> will always evaluate to false#'
            paths:
                - src/Infrastructure/Persistence/Repository/*/*Repository.php
