parameters:
    level: 6
    paths:
        -   src
        -   tests
    excludePaths:
        -   public/*
        -   src/Kernel.php
        -   config/bootstrap.php
    ignoreErrors:
        - identifier: missingType.iterableValue
        -
            message: '#Strict comparison using === between false and non-empty-list<array<string, mixed>> will always evaluate to false#'
            paths:
                - src/Infrastructure/Persistence/Repository/*/*Repository.php
        -
            identifier: missingType.parameter
            paths:
                - src/Application/Query/*/*/*Query.php
                - src/Application/Command/*/*/*Command.php
