{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'menu.games'|trans }}{% endblock %}

{% block header %}
    <style>
        .filters-margin {
            margin-top: 0;
        }

        @media (min-width: 992px) {
            .filters-margin {
                margin-top: 4.5rem;
            }
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'Keyforge/Game/List/games_filters.html.twig' with {'friends': users} %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        {% include 'Keyforge/Game/List/game_list.html.twig' with {
            'deck_reference': null,
            'user_reference': app.user.id,
            'reference_type': 'winner',
            'friends': users,
            'show_inline_filters': false,
        } %}
    </div>
{% endblock %}
