{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'menu.games'|trans }}{% endblock %}

{% block header %}
    <style>
        .filters-margin {
            margin-top: 0;
        }

        @media (min-width: 992px) {
            .filters-margin {
                margin-top: 4.5rem;
            }
        }
    </style>
{% endblock %}

{% block body %}
    {% set statsMax = {
        turns: 30,
        winnerAmberObtained: 50,
        loserAmberObtained: 50,
        totalAmberObtained: 100,
        winnerAmberStolen: 30,
        loserAmberStolen: 30,
        totalAmberStolen: 50,
        winnerCardsDiscarded: 40,
        loserCardsDiscarded: 40,
        totalCardsDiscarded: 50,
        totalCardsDrawn: 120,
        winnerReaps: 30,
        loserReaps: 30,
        totalReaps: 50,
        winnerFights: 30,
        loserFights: 30,
        totalFights: 50,
        loserKeysForged: 2,
        totalKeysForged: 5,
        winnerExtraTurns: 5,
        loserExtraTurns: 5,
        totalExtraTurns: 10,
    } %}

    {% include 'Keyforge/Game/List/games_filters.html.twig' with {
        'friends': users,
        'statsMax': statsMax,
    } %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        {% include 'Keyforge/Game/List/game_list.html.twig' with {
            'deck_reference': null,
            'user_reference': app.user.id,
            'reference_type': 'winner',
            'friends': users,
            'show_inline_filters': false,
            'statsMax': statsMax,
        } %}
    </div>
{% endblock %}
