{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}Import{% endblock %}

{% block body %}
    {% if result != false %}
        <div class="row">
            <div class="col-1 col-sm-4 col-lg-3"></div>
            <div class="col-12 col-sm-12 col-lg-6">
                {% if success == true %}
                    <div class="alert alert-success" role="alert">
                        Baraja importada. <a href="/keyforge/games/deck/{{ deckId }}">Ir a baraja.</a>
                    </div>
                {% elseif success == false %}
                    <div class="alert alert-danger" role="alert">{{ result }}</div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="divider py-1"></div>

    <form action="{{ path('keyforge_deck_import') }}" method="post">
        <div class="row">
            <div class="col-1 col-sm-4 col-lg-3"></div>
            <div class="col-12 col-sm-12 col-lg-6">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <input type="text" class="form-control" id="deck" name="deck" placeholder="Deck id, dok or vault link" required>

                    <div class="divider py-2"></div>

                    <button type="submit" class="col-4 btn btn-block btn-dark w-100">Import</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
