{% extends "/base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="divider py-1"></div>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <form action="{{ path('login') }}" method="post">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Username"/>
                    </div>
                </div>
            </div>

            <div class="divider py-1"></div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password" placeholder="Password"/>
                    </div>
                </div>
            </div>

            <div class="divider py-1"></div>

            <div class="row mt-3">
                <div class="col-12 col-lg-6">
                    <button type="submit" class="btn btn-block btn-dark w-100">Login</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}