{% extends "Shared/base.html.twig" %}

{% block title %}Games{% endblock %}

{% block body %}
    <h3>Games of <a href="https://decksofkeyforge.com/decks/{{ reference }}" target="_blank">{{ name }}</a></h3>
    {% include 'Keyforge/list_games.html.twig' %}
{% endblock %}