register:
  path: /register
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\Login\RegisterController
  methods: [GET,POST]

login:
  path: /login
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\Login\LoginController
  methods: [GET,POST]

logout:
  path: /logout
  methods: [POST]

user_friends:
  path: /user/friends
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\User\UserFriendsController
  methods: [GET,POST,PATCH,DELETE]

user_pending_games:
  path: /user/pending-games
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\User\UserNotificationsController::games
  methods: [GET,POST,PATCH,DELETE]

user_accept_game:
  path: /user/accept-games
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\User\UserNotificationsController::acceptGame
  methods: [ POST ]

user_reject_game:
  path: /user/reject-games
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\User\UserNotificationsController::rejectGame
  methods: [ POST ]

user_settings:
  path: /user/settings
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\User\UserSettingsController
  methods: [GET,POST]

notification_count:
  path: /user/notifications
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\User\UserNotificationsController::count
  methods: [GET]

admin:
  path: /admin
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\Admin\AdminController::form
  methods: [GET]

admin_generate_projection:
  path: /admin
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\Admin\AdminController::regenerateProjection
  methods: [POST]

admin_accounts:
  path: /admin/accounts
  controller: AdnanMula\Cards\Entrypoint\Controller\Shared\Admin\AdminAccountsController
  methods: [POST,DELETE]

documentation:
  resource: context/documentation/routes.yaml
  prefix: /api

keyforge:
  resource: context/keyforge/routes.yaml
  prefix: /
