{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ deck.data.name }}{% endblock %}

{% block body %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                'container': 'body',
                'placement': 'right',
                'html': true,
                'animation': false,
            });
        })
    </script>

    {% include 'Keyforge/Deck/Detail/deck.html.twig' %}
{#    {% include 'Keyforge/Deck/Detail/deck_analysis.html.twig' %}#}
    {% include 'Keyforge/Deck/Detail/deck_stats.html.twig' %}

    {% if is_granted('ROLE_KEYFORGE') %}
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            {% if userId != null %}
                {% set endpoint = '/games/json?deckId=' ~ reference ~ '&userId=' ~ userId %}
            {% else %}
                {% set endpoint = '/games/json?deckId=' ~ reference %}
            {% endif %}

            {% include 'Keyforge/Game/List/game_list.html.twig' with {
                'endpoint': endpoint,
                'reference': reference,
                'reference_type': 'winner_deck',
            } %}
        </div>
    {% endif %}

    {% include 'Keyforge/Deck/Detail/deck_card_modal.html.twig' %}
{% endblock %}
