{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ deck.name }}{% endblock %}

{% block body %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                'container': 'body',
                'placement': 'right',
                'html': true,
                'animation': false,
            });
        })
    </script>

    {% include 'Keyforge/Deck/Detail/deck.html.twig' with {'owners': deck_owners} %}
    {% include 'Keyforge/Deck/Detail/deck_stats.html.twig' %}

    {% if is_granted('ROLE_KEYFORGE') %}
        {% include 'Keyforge/Deck/Detail/deck_graphs.html.twig' with {'deck': deck} %}
    {% endif %}

{#    {% include 'Keyforge/Deck/Detail/deck_analysis.html.twig' %}#}
    {% include 'Keyforge/Deck/Detail/deck_history.html.twig' with {'deck_history': deck_history} %}
    {% include 'Keyforge/Deck/Detail/deck_badges.html.twig' %}

    {% if is_granted('ROLE_KEYFORGE') %}
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            {% include 'Keyforge/Game/List/game_list.html.twig' with {
                'deck_reference': reference,
                'user_reference': userId,
                'userId': userId,
                'reference_type': 'winner_deck',
                'friends': indexed_friends,
            } %}
        </div>
    {% endif %}

    {% include 'Keyforge/Deck/Detail/deck_card_modal.html.twig' %}
{% endblock %}
