{#Example#}
{#<span class="card_name" data-bs-toggle="modal" data-bs-target="#card_image" data-card="{{ card.name }}" data-card-serialized="{{ card.serializedName }}">{{ card.name }}</span>#}

<div class="modal fade" id="card_image" tabindex="-1" role="dialog" aria-labelledby="card_image" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCardImage"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img id="card_image_render" src="">
            </div>
        </div>
    </div>
</div>

<script>
    $('#card_image').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)[0];

        const card = button.getAttribute('data-card');
        const cardImage = button.getAttribute('data-card-image');

        $('#modalCardImage')[0].innerText = card;
        $('#card_image_render')[0].src = cardImage;
    });
</script>
