{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}Games{% endblock %}

{% block body %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                'container': 'body',
                'placement': 'right',
                'html': true,
                'animation': false,
            });
        })
    </script>

    {% include 'Keyforge/Stats/Game/deck_detail.html.twig' %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        {% if userId != null %}
            {% set endpoint = '/keyforge/games/json?deckId=' ~ reference ~ '&userId=' ~ userId %}
        {% else %}
            {% set endpoint = '/keyforge/games/json?deckId=' ~ reference %}
        {% endif %}

        {% include 'Keyforge/Stats/Game/game_list.html.twig' with {
            'endpoint': endpoint,
            'reference': reference,
            'reference_type': 'winner_deck',
        } %}
    </div>
{% endblock %}
