{% extends "Keyforge/Shared/base.html.twig" %}

{% block title %}Games{% endblock %}

{% block body %}
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h3>Games of <a href="https://decksofkeyforge.com/decks/{{ reference }}" target="_blank">{{ name }}</a></h3>
        <div class="divider py-1"></div>
        {% include 'Keyforge/Stats/Game/list_games.html.twig' %}
    </div>
{% endblock %}