<div class="card-body">
    <div class="row text-center">
        <div class="col-md-6 mb-3">
            <i class="bi bi-trophy-fill me-2 fs-4"></i>
            <span class="text-success fw-bold">{{ game.log.winner.name }}</span>
        </div>
        <div class="col-md-6 mb-3">
            <i class="bi bi-clock-fill text me-2 fs-4"></i>
            <span class="text">{{ game.date }}</span>
        </div>
    </div>
</div>

<div class="card-body">
    {% set winner = game.log.winner %}
    {% set loser = game.log.loser %}

    {% include 'Keyforge/Game/Detail/game_stat_comparison_row.html.twig' with {label: 'menu.amber_obtained'|trans, left: winner.amberObtained.total, right: loser.amberObtained.total, extraLeft: '(+'~winner.amberObtained.totalPositive~'-'~winner.amberObtained.totalNegative|abs~')', extraRight: '(+'~loser.amberObtained.totalPositive~'-'~loser.amberObtained.totalNegative|abs~')' } %}
    {% include 'Keyforge/Game/Detail/game_stat_comparison_row.html.twig' with {label: 'menu.amber_stolen'|trans, left: winner.amberStolen.total, right: loser.amberStolen.total, extraLeft: '', extraRight: '' } %}
    {% include 'Keyforge/Game/Detail/game_stat_comparison_row.html.twig' with {label: 'menu.cards_played'|trans, left: winner.cardsPlayed.total, right: loser.cardsPlayed.total, extraLeft: '', extraRight: '' } %}
    {% include 'Keyforge/Game/Detail/game_stat_comparison_row.html.twig' with {label: 'menu.cards_drawn'|trans, left: winner.cardsDrawn.total, right: loser.cardsDrawn.total, extraLeft: '', extraRight: '' } %}
    {% include 'Keyforge/Game/Detail/game_stat_comparison_row.html.twig' with {label: 'menu.cards_discarded'|trans, left: winner.cardsDiscarded.total, right: loser.cardsDiscarded.total, extraLeft: '', extraRight: '' } %}
    {% include 'Keyforge/Game/Detail/game_stat_comparison_row.html.twig' with {label: 'menu.fights'|trans, left: winner.fights.count, right: loser.fights.count, extraLeft: '', extraRight: '' } %}
    {% include 'Keyforge/Game/Detail/game_stat_comparison_row.html.twig' with {label: 'menu.reaps'|trans, left: winner.reaps.count, right: loser.reaps.count, extraLeft: '', extraRight: '' } %}
    {% include 'Keyforge/Game/Detail/game_stat_comparison_row.html.twig' with {label: 'menu.keys_forged'|trans, left: winner.keysForged.count, right: loser.keysForged.count, extraLeft: '', extraRight: '' } %}
</div>