{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'menu.game'|trans }}{% endblock %}

{% block body %}
    <div class="card shadow-lg p-3 mb-4 bg-white rounded">
        {% include 'Keyforge/Game/Detail/game_header.html.twig' %}

        <hr>

        {% include 'Keyforge/Game/Detail/game_stat_comparison.html.twig' %}

        <div class="divider py-1"></div><hr><div class="divider py-1"></div>

        {% include 'Keyforge/Game/Detail/game_forged_timeline.html.twig' %}

        <div class="divider py-1"></div><hr><div class="divider py-1"></div>

        {% include 'Keyforge/Game/Detail/game_graphs.html.twig' %}

        {% if log.winner.timeline.propheciesSummary.prophecies|length > 0 or log.loser.timeline.propheciesSummary.prophecies|length > 0 %}
            <div class="divider py-1"></div><hr><div class="divider py-1"></div>

            {% include 'Keyforge/Game/Detail/game_prophecies.html.twig' %}
        {% endif %}

        <div class="divider py-1"></div><hr><div class="divider py-1"></div>

        {% include 'Keyforge/Game/Detail/game_timeline.html.twig' %}
    </div>
{% endblock %}
