{% extends "/Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'error.denied'|trans }}{% endblock %}

{% block body %}
    <div class="divider py-1"></div>

    <div class="row">
        <div class="col-1 col-sm-4 col-lg-3"></div>
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h4>{{ 'error.denied'|trans }}</h4>
            <h6>403</h6>
        </div>
    </div>
{% endblock %}
