{% extends "Shared/base.html.twig" %}

{% block title %}Example{% endblock %}

{% block body %}
    <div class="border border-secondary w-75">
        <table class="table table-responsive-sm table-hover w-50">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Deck</th>
                    <th scope="col">Set</th>
                    <th scope="col">Houses</th>
                    <th scope="col">Winrate</th>
                    <th scope="col">SAS</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Parker la Sedienta</td>
                    <td>CotA</td>
                    <td>Logos/Shadows/Untamed</td>
                    <td>9/0</td>
                    <td>99</td>
                    <td>
                        <a href="https://www.keyforgegame.com/deck-details/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-primary"><span class="bi-search"></span> Vault</button>
                        </a>
                        <a href="https://decksofkeyforge.com/decks/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-secondary"><span class="bi-search"></span> Dok</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Parker la Sedienta</td>
                    <td>CotA</td>
                    <td>Logos/Shadows/Untamed</td>
                    <td>9/0</td>
                    <td>99</td>
                    <td>
                        <a href="https://www.keyforgegame.com/deck-details/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-primary"><span class="bi-search"></span> Vault</button>
                        </a>
                        <a href="https://decksofkeyforge.com/decks/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-secondary"><span class="bi-search"></span> Dok</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Parker la Sedienta</td>
                    <td>CotA</td>
                    <td>Logos/Shadows/Untamed</td>
                    <td>9/0</td>
                    <td>99</td>
                    <td>
                        <a href="https://www.keyforgegame.com/deck-details/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-primary"><span class="bi-search"></span> Vault</button>
                        </a>
                        <a href="https://decksofkeyforge.com/decks/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-secondary"><span class="bi-search"></span> Dok</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Parker la Sedienta</td>
                    <td>CotA</td>
                    <td>Logos/Shadows/Untamed</td>
                    <td>9/0</td>
                    <td>99</td>
                    <td>
                        <a href="https://www.keyforgegame.com/deck-details/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-primary"><span class="bi-search"></span> Vault</button>
                        </a>
                        <a href="https://decksofkeyforge.com/decks/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-secondary"><span class="bi-search"></span> Dok</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Parker la Sedienta</td>
                    <td>CotA</td>
                    <td>Logos/Shadows/Untamed</td>
                    <td>9/0</td>
                    <td>99</td>
                    <td>
                        <a href="https://www.keyforgegame.com/deck-details/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-primary"><span class="bi-search"></span> Vault</button>
                        </a>
                        <a href="https://decksofkeyforge.com/decks/10ff6ac7-c6c9-444b-a1aa-10fe87c3c524" target="_blank">
                            <button type="submit" class="btn btn-secondary"><span class="bi-search"></span> Dok</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}